<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BT - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <header class="header">
      <a href="/home" class="logo">BT</a>
      <nav class="navbar">
        <a href="/home">Introduction</a>
        <a href="/process">Process</a>
        <a href="#" class="active">Dashboard</a>
      </nav>
    </header>

    <div class="form-container">
      <form action="/submit" method="post">
        <label for="combo1">Age:</label>
        <select id="combo1" name="opt_age">
          {% for age in ages %}
            <option value="{{ age }}">{{ age }}</option>
          {% endfor %}
        </select>

        <label for="combo2">Prof. Op. System:</label>
        <select id="combo2" name="opt_os">
          {% for os in oss %}
            <option value="{{ os }}">{{ os }}</option>
          {% endfor %}
        </select>
        <button type="submit">Filter</button>
        {% if sel_option not in ('','All') or sel_oss not in ('','All') %}
          <div class="result">
            <p>Selected Option: {{ sel_option }}  <span class="tab">-</span>  {{ sel_oss }} </p>
          </div>
        {% endif %}
      </form>
    </div>

    <section class="home_exp_edu">
      <table class="table_ed_exp">
        <tr>
          <td class="td_general">
            <div class="div_img_general"><img class="icono_ed_exp" src="data:image/png;base64,{{ plots[0] }}" alt=""></div>
          </td>
          <td class="td_general">
            <div class="div_img_general"><img class="icono_ed_exp" src="data:image/png;base64,{{ plots[1] }}" alt=""></div>
          </td>
        </tr>
        <tr>
          <td class="td_intermedia"></td>
        </tr>
        <tr>
          <td class="td_general">
            <div class="div_img_general"><img class="icono_ed_exp" src="data:image/png;base64,{{ plots[2] }}" alt=""></div>
          </td>
          <td class="td_general">
            <div class="div_img_general"><img class="icono_ed_exp" src="data:image/png;base64,{{ plots[3] }}" alt=""></div>
          </td>
        </tr>
        <tr>
          <td class="td_intermedia"></td>
        </tr>
        <tr>
          <td class="td_general">
            <div class="div_img_general"><img class="icono_ed_exp" src="data:image/png;base64,{{ plots[4] }}" alt=""></div>
          </td>
          <td class="td_general">
            <div class="div_img_general"><img class="icono_ed_exp" src="data:image/png;base64,{{ plots[5] }}" alt=""></div>
          </td>
        </tr>
        <tr>
          <td class="td_intermedia"></td>
        </tr>
      </table>
    </section>

  </body>
</html>