<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BT - Introduction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <header class="header">
      <a href="/home" class="logo">BT</a>
      <nav class="navbar">
        <a href="#" class="active">Introduction</a>
        <a href="/process">Process</a>
        <a href="/">Dashboard</a>
      </nav>
    </header>


    <section class="home">
      <div class="home-content">
          <h1>Advance Programming</h1>
          <h3>Bryan Torres</h3>
          <p>
              Exploratory analysis of Stack Overflow 
              Survey of Programming Scenarios - 2023.
          </p>
      </div>
      <div class="home-image">
          <img src="{{ url_for('static', filename='images/usfq_logo.png') }}" class="pipe_image"/>
      </div>


  </section>

  

  </body>
</html>